/**
 * @file
 * Custom styling for Sources custom views module.
 */

.operation-option-container {
  padding: 15px 0;
}

.operation-option-container .form-item {
  width: 59px;
  display: inline-block;
  margin: 0 3px;
}

